body {
    margin: 0;
    padding: 0;
    background-color: rgb(244,244,244);
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

table {
  min-width: 100%;
  border-collapse: collapse;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;

}

table, th, td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  th, td {
    padding: 6px;
    font-size: 14px;
  }
}
