body {
    margin: 0;
    padding: 0;
    background-color: rgb(244,244,244);
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}